{% extends 'base/base.html' %}
{% load static %}

{% block title %}
    <title>home</title>
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'aml/css/home.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,300,500" rel="stylesheet">
    <style>
        body {
            background-image: url('{% static 'aml/img/signin_bg.jpg' %}');
            background-attachment: fixed;
            background-repeat: no-repeat;
            background-size: cover;
            width: 100vw;
            height: 100vh;
            position: absolute;
            top: 0;
            left: 0;
        }

        .ten_signin_icon_id {
            background-image: url('{% static 'aml/img/signin_id.png' %}');
        }

        .ten_signin_icon_password {
            background-image: url('{% static 'img/signin_password.png' %}');
        }
    </style>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="box">
            <div class="wrapper">
                <div class="header">
                    <div class="title"><h2><span class="ten_font_bold">ASTER</span> Risk Management</h2></div>

                    {% if user.is_authenticated %}
                        <div class="user_button">
                            <a href="{% url 'logout' %}" class="btn btn-outline-dark btn-lg">LOGOUT</a>
                        </div>
                    {% endif %}
                </div>
                <div class="row">
                    <div class="group">
                        <div class="content_intro"></div>
                    </div>
                    <div class="group">
                        <div class="content_user_info">

                        </div>
                        <div class="content_button">
                            {% if user.is_authenticated %}
                                {% if user.is_staff %}
                                    <a href="{% url 'admin:index' %}" class="btn btn-outline-dark btn-lg">Admin Site</a>
                                {% else %}
                                    <a href="{% url 'aml:result' %}" class="btn btn-outline-dark btn-lg">START</a>
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
    <script src="{% static 'aml/js/copyJs/js/jquery.js' %}"></script>
    <script src="{% static 'aml/js/copyJs/js/jquery.easing.1.3.js' %}"></script>
    <script>

        function check() {
            var f_user = $('.f_username').val();
            var f_pass = $('.f_password').val();
            var i_user = $('.i_username').val();
            var i_pass = $('.i_password').val();
            if (!(f_user === '') && !(i_user === '')) {

                if (f_pass === '') {
                    alert('Facebook password should be inserted.');
                    $('.f_password').focus();
                } else if (i_pass === '') {
                    alert('Instagram password should be inserted.');
                    $('.i_password').focus();
                } else {
                    document.login_form.submit();
                }

            } else if ((f_user === '') && !(i_user === '')) {

                if (i_pass === '') {
                    alert('Instagram password should be inserted.');
                    $('.i_password').focus();
                } else {
                    document.login_form.submit();
                }

            } else if (!(f_user === '') && (i_user === '')) {

                if (f_pass === '') {
                    alert('Facebook password should be inserted.');
                    $('.f_password').focus();
                } else {
                    document.login_form.submit();
                }

            } else if ((f_user === '') && (i_user === '')) {
                $('.f_username').focus();
                alert('Facebook or Instagram account should be inserted.');

            }

        };
    </script>
{% endblock %}