{% extends 'base/base.html' %}
{% load static %}

{% block title %}
    <title>home</title>
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'aml/css/home.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,300,500" rel="stylesheet">
    <style>
        body {
            background-image: url('{% static 'aml/img/signin_bg.jpg' %}');
            background-attachment: fixed;
            background-repeat: no-repeat;
            background-size: cover;
            width: 100vw;
            height: 100vh;
            position: absolute;
            top: 0;
            left: 0;
        }

        .ten_signin_icon_id {
            background-image: url('{% static 'aml/img/signin_id.png' %}');
        }

        .ten_signin_icon_password {
            background-image: url('{% static 'img/signin_password.png' %}');
        }
    </style>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="box">
            <div class="wrapper">
                <div class="header">
                    <div class="title"><h2><span class="ten_font_bold">ASTER</span> Risk Management</h2></div>
                    {% if user.is_authenticated %}
                        <div class="user_button">
                            <a href="{% url 'admin:index' %}"
                               class="btn btn-outline-dark btn-lg admin">Administration</a>
                            <a href="{% url 'logout' %}" class="btn btn-outline-dark btn-lg logout">Logout</a>
                        </div>
                    {% endif %}
                </div>
                <div class="row">
                    <form action="" method="post" name="analysing_form" class="analysing_form">
                        {% csrf_token %}
                        <div class="group">
                            <div class="content_info">
                                <section class="section">
                                    <div class="form-group">
                                        <h3>Personal information</h3>
                                    </div>
                                    <div class="form-group">
                                        {{ form.first_name }}
                                    </div>
                                    <div class="form-group">
                                        {{ form.last_name }}
                                    </div>
                                    <div class="form-group">
                                        {{ form.government_id }}
                                    </div>
                                    <div class="form-group">
                                        {{ form.phone_number }}
                                    </div>
                                    <div class="form-group">
                                        {{ form.email }}
                                    </div>
                                    <div class="form-group">
                                        {{ form.country_of_citizenship }}
                                    </div>
                                    <div class="date-group">
                                        <div class="form-group">
                                            <span>Date of birth</span>
                                        </div>
                                        <div class="form-group">
                                            {{ form.date_of_birth }}
                                        </div>
                                    </div>
                                </section>
                                <section class="section">
                                    <div class="form-group">
                                        <h3>Residence address</h3>
                                    </div>
                                    <div class="form-group">
                                        {{ form.address_country }}
                                    </div>
                                    <div class="form-group">
                                        {{ form.address_city }}
                                    </div>
                                    <div class="form-group">
                                        {{ form.address1 }}
                                    </div>
                                    <div class="form-group">
                                        {{ form.address2 }}
                                    </div>

                                    <div class="form-group">
                                        {{ form.address_zip_code }}
                                    </div>

                                </section>
                            </div>
                            <div class="content_info">
                                <section class="section">
                                    <div class="form-group">
                                        <h3>Work Information</h3>
                                    </div>
                                    <div class="form-group">
                                        {{ form.company }}
                                    </div>
                                    <div class="form-group">
                                        {{ form.company_field_of_business }}
                                    </div>
                                    <div class="form-group">
                                        {{ form.company_state }}
                                    </div>
                                    <div class="form-group">
                                        {{ form.company_country }}
                                    </div>
                                </section>
                                <section class="section">
                                    <div class="form-group">
                                        <h3>SNS Additional</h3>
                                    </div>
                                    <div class="form-group">
                                        {{ form.sns_facebook }}
                                    </div>
                                    <div class="form-group">
                                        {{ form.sns_instagram }}
                                    </div>
                                    <div class="form-group">
                                        {{ form.sns_twitter }}
                                    </div>
                                    <div class="form-group">
                                        {{ form.sns_google }}
                                    </div>
                                    <div class="form-group">
                                        {{ form.sns_linkedin }}
                                    </div>

                                </section>
                                <footer>
                                    <input type="submit" id="signin_button" class="btn btn-dark btn-lg"
                                           value="Analysing start">
                                </footer>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
    <script src="{% static 'aml/js/copyJs/js/jquery.js' %}"></script>
    <script src="{% static 'aml/js/copyJs/js/jquery.easing.1.3.js' %}"></script>
    <script>

        function check() {
            var f_user = $('.f_username').val();
            var f_pass = $('.f_password').val();
            var i_user = $('.i_username').val();
            var i_pass = $('.i_password').val();
            if (!(f_user === '') && !(i_user === '')) {

                if (f_pass === '') {
                    alert('Facebook password should be inserted.');
                    $('.f_password').focus();
                } else if (i_pass === '') {
                    alert('Instagram password should be inserted.');
                    $('.i_password').focus();
                } else {
                    document.login_form.submit();
                }

            } else if ((f_user === '') && !(i_user === '')) {

                if (i_pass === '') {
                    alert('Instagram password should be inserted.');
                    $('.i_password').focus();
                } else {
                    document.login_form.submit();
                }

            } else if (!(f_user === '') && (i_user === '')) {

                if (f_pass === '') {
                    alert('Facebook password should be inserted.');
                    $('.f_password').focus();
                } else {
                    document.login_form.submit();
                }

            } else if ((f_user === '') && (i_user === '')) {
                $('.f_username').focus();
                alert('Facebook or Instagram account should be inserted.');

            }

        };
    </script>
{% endblock %}