@import url('https://fonts.googleapis.com/css?family=Poppins:100,300,500');


input:focus {
    outline: 0 0 0 0 !important;
    box-shadow: 0 0 0 0 !important;
}

body {
    font-family: 'Poppins', sans-serif;
}

h3 {
    font-family: 'Poppins', sans-serif;
}

.signin_form_wrapper {
    text-align: center;
    margin-top: 8.60529%;
}

.signin_form_content {
    margin: 20px auto;
    display: inline-block;
    width: 370px;
    height: auto;
    background: rgba(255, 255, 255, 0.8);
    padding: 30px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.signin_form_title h2 {
    font-size: 30px;
    color: rgba(255, 224, 199, 0.973);
    font-weight: 300;
    margin: 0px auto;
}

.signin_form_title .ten_font_bold {
    font-weight: 800;
    color: rgba(255, 240, 230, 0.973);
}

.signin_form_content section {
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
    _box-shadow: 0 0 20px rgba(0, 0, 0, .3);
    color: #666;
}

.alert{
    margin: 0;
    font-size: 12px;
    text-align: left;
}

.form-control {
    height: calc(3.25rem + 2px);
    border: none;
    padding: 0 10px;
    font-size: 18px;
}
.form-control:focus{
    border: solid 1px #6b7b8c;
}
.signin_form_content footer {
    display: block;
    padding: 20px 0;
    border-top: 1px solid #6b7b8c;
}
.btn-warning{
    color: white;
    background-color: #6b7b8c;
    outline: none;
}
.btn-warning:hover{
    color: #ffffff;
    background-color: #6b7b8c;
    outline: none;
}
#signin_button{
    float: right;
}
#signup_button{
    float: left;
}
section{
    width: 100%;
}