@import url('https://fonts.googleapis.com/css?family=Poppins:100,300,500');

body {
    font-family: 'Poppins', sans-serif;
    min-height: 100%;
}

h3 {
    font-family: 'Poppins', sans-serif;
}


.box {
    top:0; left:0; bottom:0; right:0;
    height:10%;
    margin:7% auto;
}

.wrapper{
    display: inline-block;
    width: 100%;
    height: 100%;
}

.header{
    margin: 0;
    display: inline-flex;
}

.header h2 {
    font-size: 30px;
    color: rgba(255, 224, 199, 0.973);
    font-weight: 300;
    margin: 0 auto;
}

.header .ten_font_bold {
    font-weight: 800;
    color: rgba(255, 240, 230, 0.973);
}

.title{
    margin-left: 15px;
    
}
.user_button {
    right: 0;
}

.row{
    display: -webkit-box;;
    margin: 10px 0 0 0;
}
.group{
    height: 700px;
    width: 50%;
    padding:0 1% ;
}

.content_intro {
    display: inline-block;
    width: 100%;
    height: 700px;
    background: rgba(255, 255, 255, 0.8);
    padding: 30px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.content_user_info {
    margin-bottom: 20px;
    display: inline-block;
    width: 100%;
    height: 475px;
    background: rgba(255, 255, 255, 0.8);
    padding: 30px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.content_button {
    display: inline-block;
    width: 100%;
    height: 200px;
    background: rgba(255, 255, 255, 0.8);
    padding: 30px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}



.signin_form_content section {
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
    _box-shadow: 0 0 20px rgba(0, 0, 0, .3);
    color: #666;
}

.signin_form_content .input,
.signin_form_content .select,
.signin_form_content .textarea,
.signin_form_content .radio,
.signin_form_content .checkbox,
.signin_form_content .toggle,
.signin_form_content .button {
    position: relative;
    display: block;
}

.signin_form_content .input {
    margin: 0;
    padding: 0;
    font-family: inherit;
    font-weight: inherit;
}

.signin_form_content .icon-append, .signin_form_content .icon-prepend {
    color: #ccc;
}

.signin_form_content .input input,
.signin_form_content .select select,
.signin_form_content .textarea textarea,
.signin_form_content .radio i,
.signin_form_content .checkbox i,
.signin_form_content .toggle i,
.signin_form_content .icon-append,
.signin_form_content .icon-prepend {
    border-color: #e5e5e5;
    transition: border-color 0.3s;
    -o-transition: border-color 0.3s;
    -ms-transition: border-color 0.3s;
    -moz-transition: border-color 0.3s;
    -webkit-transition: border-color 0.3s;
}

.signin_form_content.icon-append {
    right: 5px;
    padding-left: 3px;
    border-left-width: 1px;
    border-left-style: solid;
}

.signin_form_content .icon-append,
.signin_form_content .icon-prepend {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 29px;
    height: 29px;
    font-size: 15px;
    line-height: 29px;
    text-align: center;
}

.signin_form_content [class^="icon-"] {
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
}

fieldset {
    margin-bottom: 20px;
}

/*.signin_form_content {*/
/*margin: 0;*/
/*padding: 0;*/
/*}*/

.signin_form_content .input .icon-append + input, .signin_form_content .textarea .icon-append + textarea {
    padding-right: 46px;
}

.signin_form_content .input:hover input,
.signin_form_content .select:hover select,
.signin_form_content .textarea:hover textarea,
.signin_form_content .radio:hover i,
.signin_form_content .checkbox:hover i,
.signin_form_content .toggle:hover i {
    border-color: #fcc175;
}

.signin_form_content .input input, .signin_form_content .select select, .signin_form_content .textarea textarea, .signin_form_content .radio i, .signin_form_content .checkbox i, .signin_form_content .toggle i, .signin_form_content .icon-append, .signin_form_content .icon-prepend {
    border-color: #e5e5e5;
    transition: border-color 0.3s;
    -o-transition: border-color 0.3s;
    -ms-transition: border-color 0.3s;
    -moz-transition: border-color 0.3s;
    -webkit-transition: border-color 0.3s;
}

.signin_form_content .input input, .signin_form_content .select select, .signin_form_content .textarea textarea {
    display: block;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    height: 39px;
    padding: 8px 10px;
    outline: none;
    border-width: 2px;
    border-style: solid;
    border-radius: 0;
    background: #fff;
    font: 15px/19px 'Open Sans', Helvetica, Arial, sans-serif;
    color: #404040;
    appearance: normal;
    -moz-appearance: none;
    -webkit-appearance: none;
    font-weight: 300;
}

.signin_form_content .tooltip-bottom-right {
    top: 100%;
    margin-top: 15px;
}

.signin_form_content .tooltip {
    position: absolute;
    z-index: 1;
    left: -9999px;
    padding: 2px 8px 3px;
    font-size: 11px;
    line-height: 16px;
    font-weight: 400;
    background: rgba(0, 0, 0, 0.9);
    color: #fff;
    opacity: 0;
    transition: margin 0.3s, opacity 0.3s;
    -o-transition: margin 0.3s, opacity 0.3s;
    -ms-transition: margin 0.3s, opacity 0.3s;
    -moz-transition: margin 0.3s, opacity 0.3s;
    -webkit-transition: margin 0.3s, opacity 0.3s;
}

.signin_form_content .tooltip-bottom-right:after {
    bottom: 100%;
    right: 16px;
    border-right: 4px solid transparent;
    border-bottom: 4px solid rgba(0, 0, 0, 0.9);
    border-left: 4px solid transparent;
}

.signin_form_content .tooltip:after {
    content: '';
    position: absolute;
}

.tooltip {
    position: absolute;
    z-index: 1030;
    display: block;
    visibility: visible;
    font-size: 12px;
    line-height: 1.4;
    opacity: 0;
    filter: alpha(opacity=0);
}

.signin_form_content .input input:focus + .tooltip-bottom-right, .signin_form_content .textarea textarea:focus + .tooltip-bottom-right {
    right: 0;
    left: auto;
    margin-top: 5px;
}

.signin_form_content .input input:focus + .tooltip, .signin_form_content .textarea textarea:focus + .tooltip {
    opacity: 1;
}

.signin_form_content .radio, .signin_form_content .checkbox {
    margin-bottom: 4px;
    padding-left: 27px;
    text-align: left;
    font-size: 15px;
    line-height: 27px;
    color: #303030;
    cursor: pointer;
    font-weight: 300;
}

.signin_form_content .radio input, .signin_form_content .checkbox input {
    position: absolute;
    left: -9999px;
}

input[type="checkbox"], input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}

input[type="radio"], input[type="checkbox"] {
    margin: 4px 0 0;
    margin-top: 1px \9;
    line-height: normal;
}

.radio input[type="radio"], .radio-inline input[type="radio"], .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"] {
    float: left;
    margin-left: -20px;
}

.signin_form_content .input input, .signin_form_content .select select, .signin_form_content .textarea textarea, .signin_form_content .radio i, .signin_form_content .checkbox i, .signin_form_content .toggle i, .signin_form_content .icon-append, .signin_form_content .icon-prepend {
    border-color: #e5e5e5;
    transition: border-color 0.3s;
    -o-transition: border-color 0.3s;
    -ms-transition: border-color 0.3s;
    -moz-transition: border-color 0.3s;
    -webkit-transition: border-color 0.3s;
}

.signin_form_content .radio i, .signin_form_content .checkbox i {
    position: absolute;
    top: 5px;
    left: 0;
    display: block;
    width: 17px;
    height: 17px;
    outline: none;
    border-width: 2px;
    border-style: solid;
    background: #fff;
}

.signin_form_content .checkbox input + i:after {
    position: absolute;
    top: -4px;
    left: -1px;
    width: 17px;
    height: 17px;
    font: normal 14px/21px FontAwesome;
    text-align: center;
}

/**/
/* checked state */
/**/
.signin_form_content .radio input + i:after {
    background-color: #fcc175;
}

.signin_form_content .checkbox input + i:after {
    color: #fcc175;
}

.signin_form_content .radio input:checked + i,
.signin_form_content .checkbox input:checked + i,
.signin_form_content .toggle input:checked + i {
    border-color: #fcc175;
}

.signin_form_content .checkbox input:checked + i:after {
    content: '\f00c';
}

.signin_form_content .rating input:checked ~ label {
    color: #fcc175;
}

.signin_form_content footer {
    display: block;
    padding: 20px 0px;
    border-top: 1px solid rgba(0, 0, 0, .1);
}

.signin_form_content .button {
    background-color: #2da5da;
    opacity: 0.8;
    transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -webkit-transition: all 0.2s;
    float: right;
    height: 39px;
    overflow: hidden;
    margin: 0px;
    padding: 0 25px;
    outline: none;
    border: 0;
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}

.signin_form_content .button:hover {
    background-color: #1d95ca;
}

.ten_signin_icon {
    background-repeat: no-repeat;
    background-size: 86.0529%;
    background-position: center;
}

.ten_signin_icon_id {
    background-image: url('/img/icons/signin_id.png');
}

.ten_signin_icon_password {
    background-image: url('/img/icons/signin_password.png');
}

.fieldset {
    margin-bottom: 20px;
}