@import url('https://fonts.googleapis.com/css?family=Poppins:100,300,500');


input:focus {
    outline: 0 0 0 0 !important;
    box-shadow: 0 0 0 0 !important;
}

body {
    font-family: 'Poppins', sans-serif;
}

h3 {
    font-family: 'Poppins', sans-serif;
}

.box {
    padding: 60px 0;
    display: none;
}

.box-part {
    background: #FFF;
    border-radius: 10px;
    padding: 20px 10px;
    margin: 30px 0;
}

.box-part:hover {
    background: #4183D7;
}

.box-part:hover .fa,
.box-part:hover .title,
.box-part:hover .text,
.box-part:hover a {
    color: #FFF;
    -webkit-transition: all 1s ease-out;
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    transition: all 1s ease-out;
}

.card-background {
    background: linear-gradient(to top, #eeeeee4d, #eeeeee4d);
    color: white;
}

/* 페이스북 */
.content_f {
    display: flex;
    margin-bottom: 20px;
}

/* 페이스북 프로필 이미지 */
.title_f + div > div {
    display: inline-block;
}

.p_img {
    height: 200px;
}

/* 페이스북 유저 정보 */
.info_f {
    width: 100%;
}

.info_list_f > li {
    margin-bottom: 10px;
}

/* 페이스북 유저 정보2 */
.friends_f > div > span {
    font-size: 1.3em;
    border: solid 2px white;
}

.friends_list_f {
    padding-left: 0;
    list-style: none;
}

.friends_list_f > li {
    margin-bottom: 10px;
}

/* 인스타그램 */
.content_i {
    display: flex;
    margin-bottom: 20px;
}

/* 인스타그램 프로필 이미지 */
.title_i + div > div {
    display: inline-block;
}

/* 인스타그램 유저 정보 */
.info_i {
    width: 100%;
}

.info_list_i > li {
    margin-bottom: 10px;
}

/* 인스타그램 유저 정보2 */
.following_i > div > span {
    font-size: 1.3em;
    border: solid 2px white;
}

.following_list_i {
    padding-left: 0;
    list-style: none;
}

.following_list_i > li {
    margin-bottom: 10px;
}

/* 트위터 */
.content_t {
    display: flex;
    margin-bottom: 20px;
}

/* 트위터 프로필 이미지 */
.title_t + div > div {
    display: inline-block;
}

/* 트위터 유저 정보 */
.info_t {
    width: 100%;
}

.info_list_t > li {
    margin-bottom: 10px;
}

/* 트위터 유저 정보2 */
.following_t > div > span {
    font-size: 1.3em;
    border: solid 2px white;
}

.following_list_t {
    padding-left: 0;
    list-style: none;
}

.following_list_t > li {
    margin-bottom: 10px;
}

/* 유튜브 */
.content_y {
    display: flex;
    margin-bottom: 20px;
}

/* 유튜브 프로필 이미지 */
.title_y + div > div {
    display: inline-block;
}

/* 유튜브 유저 정보 */
.info_y {
    width: 100%;
}

.info_list_y > li {
    margin-bottom: 10px;
}

/* 유튜브 유저 정보2 */
.subscribe_y > div > span {
    font-size: 1.3em;
    border: solid 2px white;
}

.subscribe_list_y {
    padding-left: 0;
    list-style: none;
}

.subscribe_list_y > div {
    margin-bottom: 10px;
    border-bottom: solid 2px white;
}

.profile_img_y > img {
    height: 100px;
}

/* 지메일 */
.content_g {
    display: flex;
    margin-bottom: 20px;
}

/* 지메일 유저 정보 */
.info_g {
    width: 100%;
}

.info_list_g > li {
    margin-bottom: 10px;
}

/* 지메일 유저 정보2 */
.mail_list_g > div > span {
    font-size: 1.3em;
    border: solid 2px white;
}

.mail_table {
    display: none;
}

th {
    text-align: center;
}

.span {
    border-bottom: solid 2px white;
    padding: 5px;
    display: none;
}

.re_submit {
    padding-top: 10px;
    padding-bottom: 10px;
}




.signin_form_wrapper {
    text-align: center;
    margin-top: 8.60529%;
}

.signin_form_content {
    margin: 20px auto;
    display: inline-block;
    width: 370px;
    height: auto;
    background: rgba(255, 255, 255, 0.8);
    padding: 30px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.signin_form_title h2 {
    font-size: 30px;
    color: rgba(255, 224, 199, 0.973);
    font-weight: 300;
    margin: 0px auto;
}

.signin_form_title .ten_font_bold {
    font-weight: 800;
    color: rgba(255, 240, 230, 0.973);
}

.signin_form_content section {
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
    _box-shadow: 0 0 20px rgba(0, 0, 0, .3);
    color: #666;
}

.signin_form_content .input,
.signin_form_content .select,
.signin_form_content .textarea,
.signin_form_content .radio,
.signin_form_content .checkbox,
.signin_form_content .toggle,
.signin_form_content .button {
    position: relative;
    display: block;
}

.signin_form_content .input {
    margin: 0;
    padding: 0;
    font-family: inherit;
    font-weight: inherit;
}

.signin_form_content .icon-append, .signin_form_content .icon-prepend {
    color: #ccc;
}

.signin_form_content .input input,
.signin_form_content .select select,
.signin_form_content .textarea textarea,
.signin_form_content .radio i,
.signin_form_content .checkbox i,
.signin_form_content .toggle i,
.signin_form_content .icon-append,
.signin_form_content .icon-prepend {
    border-color: #e5e5e5;
    transition: border-color 0.3s;
    -o-transition: border-color 0.3s;
    -ms-transition: border-color 0.3s;
    -moz-transition: border-color 0.3s;
    -webkit-transition: border-color 0.3s;
}

.signin_form_content.icon-append {
    right: 5px;
    padding-left: 3px;
    border-left-width: 1px;
    border-left-style: solid;
}

.signin_form_content .icon-append,
.signin_form_content .icon-prepend {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 29px;
    height: 29px;
    font-size: 15px;
    line-height: 29px;
    text-align: center;
}

.signin_form_content [class^="icon-"] {
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
}

fieldset {
    margin-bottom: 20px;
}
/*.signin_form_content {*/
    /*margin: 0;*/
    /*padding: 0;*/
/*}*/

.signin_form_content .input .icon-append + input, .signin_form_content .textarea .icon-append + textarea {
    padding-right: 46px;
}

.signin_form_content .input:hover input,
.signin_form_content .select:hover select,
.signin_form_content .textarea:hover textarea,
.signin_form_content .radio:hover i,
.signin_form_content .checkbox:hover i,
.signin_form_content .toggle:hover i {
    border-color: #fcc175;
}

.signin_form_content .input input, .signin_form_content .select select, .signin_form_content .textarea textarea, .signin_form_content .radio i, .signin_form_content .checkbox i, .signin_form_content .toggle i, .signin_form_content .icon-append, .signin_form_content .icon-prepend {
    border-color: #e5e5e5;
    transition: border-color 0.3s;
    -o-transition: border-color 0.3s;
    -ms-transition: border-color 0.3s;
    -moz-transition: border-color 0.3s;
    -webkit-transition: border-color 0.3s;
}

.signin_form_content .input input, .signin_form_content .select select, .signin_form_content .textarea textarea {
    display: block;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    height: 39px;
    padding: 8px 10px;
    outline: none;
    border-width: 2px;
    border-style: solid;
    border-radius: 0;
    background: #fff;
    font: 15px/19px 'Open Sans', Helvetica, Arial, sans-serif;
    color: #404040;
    appearance: normal;
    -moz-appearance: none;
    -webkit-appearance: none;
    font-weight: 300;
}


.signin_form_content .tooltip-bottom-right {
    top: 100%;
    margin-top: 15px;
}

.signin_form_content .tooltip {
    position: absolute;
    z-index: 1;
    left: -9999px;
    padding: 2px 8px 3px;
    font-size: 11px;
    line-height: 16px;
    font-weight: 400;
    background: rgba(0, 0, 0, 0.9);
    color: #fff;
    opacity: 0;
    transition: margin 0.3s, opacity 0.3s;
    -o-transition: margin 0.3s, opacity 0.3s;
    -ms-transition: margin 0.3s, opacity 0.3s;
    -moz-transition: margin 0.3s, opacity 0.3s;
    -webkit-transition: margin 0.3s, opacity 0.3s;
}


.signin_form_content .tooltip-bottom-right:after {
    bottom: 100%;
    right: 16px;
    border-right: 4px solid transparent;
    border-bottom: 4px solid rgba(0, 0, 0, 0.9);
    border-left: 4px solid transparent;
}

.signin_form_content .tooltip:after {
    content: '';
    position: absolute;
}

.tooltip {
    position: absolute;
    z-index: 1030;
    display: block;
    visibility: visible;
    font-size: 12px;
    line-height: 1.4;
    opacity: 0;
    filter: alpha(opacity=0);
}

.signin_form_content .input input:focus + .tooltip-bottom-right, .signin_form_content .textarea textarea:focus + .tooltip-bottom-right {
    right: 0;
    left: auto;
    margin-top: 5px;
}

.signin_form_content .input input:focus + .tooltip, .signin_form_content .textarea textarea:focus + .tooltip {
    opacity: 1;
}

.signin_form_content .radio, .signin_form_content .checkbox {
    margin-bottom: 4px;
    padding-left: 27px;
    text-align: left;
    font-size: 15px;
    line-height: 27px;
    color: #303030;
    cursor: pointer;
    font-weight: 300;
}

.signin_form_content .radio input, .signin_form_content .checkbox input {
    position: absolute;
    left: -9999px;
}

input[type="checkbox"], input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}

input[type="radio"], input[type="checkbox"] {
    margin: 4px 0 0;
    margin-top: 1px \9;
    line-height: normal;
}

.radio input[type="radio"], .radio-inline input[type="radio"], .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"] {
    float: left;
    margin-left: -20px;
}

.signin_form_content .input input, .signin_form_content .select select, .signin_form_content .textarea textarea, .signin_form_content .radio i, .signin_form_content .checkbox i, .signin_form_content .toggle i, .signin_form_content .icon-append, .signin_form_content .icon-prepend {
    border-color: #e5e5e5;
    transition: border-color 0.3s;
    -o-transition: border-color 0.3s;
    -ms-transition: border-color 0.3s;
    -moz-transition: border-color 0.3s;
    -webkit-transition: border-color 0.3s;
}

.signin_form_content .radio i, .signin_form_content .checkbox i {
    position: absolute;
    top: 5px;
    left: 0;
    display: block;
    width: 17px;
    height: 17px;
    outline: none;
    border-width: 2px;
    border-style: solid;
    background: #fff;
}

.signin_form_content .checkbox input + i:after {
    position: absolute;
    top: -4px;
    left: -1px;
    width: 17px;
    height: 17px;
    font: normal 14px/21px FontAwesome;
    text-align: center;
}

/**/
/* checked state */
/**/
.signin_form_content .radio input + i:after {
    background-color: #fcc175;
}

.signin_form_content .checkbox input + i:after {
    color: #fcc175;
}

.signin_form_content .radio input:checked + i,
.signin_form_content .checkbox input:checked + i,
.signin_form_content .toggle input:checked + i {
    border-color: #fcc175;
}

.signin_form_content .checkbox input:checked + i:after {
    content: '\f00c';
}

.signin_form_content .rating input:checked ~ label {
    color: #fcc175;
}

.signin_form_content footer {
    display: block;
    padding: 20px 0px;
    border-top: 1px solid rgba(0, 0, 0, .1);
}

.signin_form_content .button {
    background-color: #2da5da;
    opacity: 0.8;
    transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -webkit-transition: all 0.2s;
    float: right;
    height: 39px;
    overflow: hidden;
    margin: 0px;
    padding: 0 25px;
    outline: none;
    border: 0;
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}

.signin_form_content .button:hover {
    background-color: #1d95ca;
}

.ten_signin_icon {
    background-repeat: no-repeat;
    background-size: 86.0529%;
    background-position: center;
}

.ten_signin_icon_id {
    background-image: url('/img/icons/signin_id.png');
}

.ten_signin_icon_password {
    background-image: url('/img/icons/signin_password.png');
}
.fieldset {
    margin-bottom: 20px;
}