@import url('https://fonts.googleapis.com/css?family=Poppins:100,300,500');

body {
    font-family: 'Poppins', sans-serif;
    min-height: 100%;
}

input:focus {
    outline: 0 0 0 0 !important;
    box-shadow: 0 0 0 0 !important;
}

h3 {
    font-family: 'Poppins', sans-serif;
}

.box {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 10%;
    margin: 6.2% auto;
}

.wrapper {
    display: inline-block;
    width: 100%;
    height: 100%;
}

.header {
    margin: 0;
    display: flex;
    flex-direction: row;
}

.header h2 {
    font-size: 30px;
    color: rgba(255, 224, 199, 0.973);
    font-weight: 300;
    margin: 0 auto;
}

.header .ten_font_bold {
    font-weight: 800;
    color: rgba(255, 240, 230, 0.973);
}

.title {
    flex: 1 9999 0%;
}

.user_button {
    right: 0;
    margin: auto 0;

}

.admin {
    font-weight: 600;
}

.logout {
    margin: auto 0 auto 10px;
    font-weight: 600;
}

/*.btn-outline-dark {*/
/*color: #9a2626;*/
/*border-color: #a27979;*/
/*}*/

.row {
    display: -webkit-box;;
    margin: 10px 0 0 0;
}

.group {
    background: rgba(255, 255, 255, 0.8);
    display: flex;
    height: 770px;
    width: 100%;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.content_info {
    display: inline-block;
    width: 50%;
    padding: 30px;
}

.content_info {
    display: inline-block;
    width: 50%;
    padding: 30px;

}

.signin_form_content section {
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
    _box-shadow: 0 0 20px rgba(0, 0, 0, .3);
    color: #666;
}

.btn-outline-dark:hover {
    font-weight: 400;
}
.date-group span {
    font-size: 1.3rem;
    font-weight: 600;
}
.date-group > .form-group > select{
    margin-bottom: 10px;
}

.form-control {
    height: calc(3.25rem + 2px);
    border: none;
    padding: 0 10px;
    font-size: 18px;
}
.form-control:focus{
    border: solid 1px #6b7b8c;
}

footer{
    text-align: right;
}
form {
    width: 100%;
}